@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;800&display=swap");

body {
  background: radial-gradient(ellipse at bottom, #0b0227 0%, #000000 100%);
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Urbanist", "Montserrat", sans-serif;
  font-size: 12rem;
  letter-spacing: 1vw;
  position: absolute;
  top: 15vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: url("../images/galaxy_bg.jpeg");
  background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1:nth-child(2) {
  top: 50vh;
}

@keyframes shine {
  from {
    background-position: center 0;
  }

  to {
    background-position: center 200%;
  }
}